.MuiContainer-root.MuiContainer-maxWidthLg {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.6),
      rgba(255, 255, 255, 0.6)
    ),
    url("../../images/backgroundMobile.jpg");
}

.MuiFormControl-root.MuiTextField-root.makeStyles-wrapText-2 {
  border-radius: 50px 0 0 50px !important;
}

/* .MuiInputBase-root.MuiOutlinedInput-root.MuiInputBase-formControl {
  border-radius: 50px 0 0 50px !important;
} */

.BottomInput {
  place-items: end;
}
