body {
  font-size: 12px;
}
.home__title {
  font-size: 40px;
  font-weight: 700;
  margin: 0;
}

.home {
  background-size: cover;
  height: 100vh;
  padding: 20px;
}

.child2 {
  align-items: flex-end;
  flex-direction: row;
}
