.css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root {
  border-radius: 8px !important;
  color: #3F3979 !important;
  /* border: 1px solid #EBA701 !important; */
  width: max-content !important;
}

.MuiOutlinedInput-notchedOutline.css-1d3z3hw-MuiOutlinedInput-notchedOutline {
  border: white !important;
}

.css-1n4twyu-MuiInputBase-input-MuiOutlinedInput-input {
  background: white !important;
  border-radius: 8px !important;
}