/* .mapboxgl-ctrl-geocoder--pin-right{
    display: none !important;
}

.mapboxgl-ctrl-geocoder--icon{
    display: none !important;
}

.mapboxgl-ctrl-geocoder--icon{
    display: none !important;
}

.mapboxgl-ctrl-top-left{
    top: none !important;
    left: none ! important;
}


.mapboxgl-ctrl-geocoder, .mapboxgl-ctrl, .mapboxgl-ctrl-top-left {
    width: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
    text-align: center;
}

.mapboxgl-ctrl-geocoder--input{
    height: 50px;
    border-radius: 16px;
    margin: 20px 20px 15px 20px;
    box-shadow: 'none';
    padding: 2px 6px;
    outline: 'none';
}


svg.mapboxgl-ctrl-geocoder--icon{
    display: none !important;
} */

.mapboxgl-ctrl-top-left {
    width: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
    /* border: 2px black solid !important; */
}

.mapboxgl-ctrl-geocoder{

    width: 100%;
    height: 50px;
    border-radius: 16px;
    margin: 20px 20px 15px 20px;
    box-shadow: 'none';
    padding: 2px 6px;
    outline: 'none';


}

/* .MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation1.css-1jqiqzv-MuiPaper-root {
    position: relative !important;
    z-index: 6 !important;
} */