.avatar {
  display: inline-block;
  position: relative;
}
.avatar img {
  box-shadow: 0 0 0 5px white, 0 3px 5px 4px rgba(0, 0, 0, 0.1);
}
.avatar::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 12.6px solid white;
  margin-left: -7px;
  -webkit-filter: drop-shadow(0px 3px 5px rgba(0, 0, 0, 0.1));
}

.spotTitle {
  /* font-size: 15px; */
  /* -webkit-text-stroke: 0.8px white; */
  font: small-caps bold 15px sans-serif;
  color: #6f7f7f;
  font-weight: bold;
}

.avatar_rect img {
  border-radius: 10px;
}

.avatar_round img {
  border-radius: 50%;
}

.container {
  width: 607px;
  margin: 0 auto;
  position: relative;
}

.avatar {
  position: absolute;
  top: 1000px;
}
.avatar:nth-child(1) {
  top: 58px;
  left: 44px;
}
.avatar:nth-child(2) {
  top: 0;
  left: 198px;
}
.avatar:nth-child(3) {
  left: 376px;
  top: 37px;
}
.avatar:nth-child(4) {
  left: 0;
  top: 215px;
}
.avatar:nth-child(5) {
  left: 180px;
  top: 150px;
}
