.css-17ndd9v-MuiButtonBase-root-MuiToggleButton-root.Mui-selected:hover {
  background-color: #a480a6 !important;
  color: white !important;
}

.css-17ndd9v-MuiButtonBase-root-MuiToggleButton-root.Mui-selected {
  background-color: #a480a6 !important;
  color: white !important;
}

.css-17ndd9v-MuiButtonBase-root-MuiToggleButton-root {
  border-radius: 8px !important;
}

.css-mgs850-MuiToggleButtonGroup-root {
  width: stretch !important;
  margin-left: 25px !important;
  margin-right: 25px !important;
}

/* .MuiToggleButtonGroup-root.MuiToggleButtonGroup-fullWidth.css-mgs850-MuiToggleButtonGroup-root {
  position: relative !important;
  z-index: 6 !important;
} */